@import url('https://v1.fontapi.ir/css/Vazir');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



@font-face {
    font-family: 'amiri';
    src: url(fonts/amiri) format('tff');
  }

@font-face {
    font-family: 'davat';
    src: url(fonts/badr) format('tff');
  }
@font-face {
    font-family: 'persian-badkh';
    src: url(fonts/persian-badkh) format('tff');
  }
 
.per-text{
    font-family: 'Vazir', 'amiri' ;  
    font-weight: 100;
    font-style: normal;  
    font-size: 2vw;
    color:#000;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(fonts/Roboto-Medium) format('tff');
  }

.en-text{
    font-family: 'Roboto-Medium' ;  
    font-weight: 100;
    font-style: normal;  
    font-size: 3vw;
    color:#000;
}

.answer-li{
    font-family: 'Roboto-Medium' ;  
    font-weight: 100;
    font-style: normal;  
    font-size: 2vw;
    color:#000;

}


.next-step{
  font-family: 'Vazir';
  font-style: normal;
  color:rgb(0, 0, 0);
  font-size: 3vh;
  line-height: 3vh;
}

@media(max-width:568px){
.en-text{
  font-family: 'Roboto-Medium' ;  
  font-weight: 100;
  font-style: normal;  
  font-size: 7vw;
  color:#000;
}
}